{% extends "base.html" %}
{% block content %}
<div class="row align-items-center">
  <div class="col-md-6">
    <h1 class="display-4">Hi, I'm Shariq Masood</h1>
    <p class="lead">A seasoned avionics professional & software developer with over 25 years of experience.</p>
    <a href="/resume" class="btn btn-primary btn-lg">View My Resume</a>
  </div>
  <div class="col-md-6 text-center">
    <img src="{{ url_for('static', filename='img/profile.jpg') }}" alt="Profile Picture" class="img-fluid rounded-circle" style="max-width: 300px;">
  </div>
</div>
{% endblock %}
